<!---  Date: 11/July/2022 - Monday -->
<!---  Author: Virgilio Murillo Ochoa -->
<!---  personal github: Virgilio-AI -->
<!---  linkedin: https://www.linkedin.com/in/virgilio-murillo-ochoa-b29b59203 -->
<!---  contact: virgiliomurilloochoa1@gmail.com -->
<!---  web: virgiliomurillo.com --!>

{% extends "portfolio/layout.html" %}

{% load static %}

{% block content %}



<h2 class="mt-5" style='display: flex;justify-content: center'>

{{title}}

</h2>
	<hr>



<a href="{{ pdf.url }}">

<div style='display:flex;justify-content:center;'>
		<img src="{{ img.url }}" class="img-fluid mb-2" >
</div>

	</a>

{% endblock %}

